html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dob-container {
    display: flex;
    flex-direction: column;
}

.married-status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitForm {
    background-color: blue;
    color: white;
}

#name,
#phoneNumber,
#salary {
    width: 300px;
    height: 40px;
}